.weather-app {
  font-family: $font-base;
  background-color: $color-bg;
  min-height: 100vh;

  &__content {
    padding: $spacing-lg 0;
  }
}

.weather-app__intro {
  max-width: 600px;
  margin: 0 auto;
  color: #000000;
}
