// Colores
$color-primary: #0d6efd;
$color-bg: #f8f9fa;
$color-text: #212529;

// Tipografía
$font-base: 'Segoe UI', sans-serif;

// Espaciados
$spacing-sm: .5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;

// Bordes
$radius: .75rem;
